<!DOCTYPE html>
<html>
    <head>
        <title>浏览作品</title>
        <link rel='stylesheet' href='/stylesheets/main.css' />
    </head>
    <body>
        <% include header %>
        <div class="content">
            <% if(locals.item) {%>
                <% if(currentUser && item.createdBy === currentUser.id) { %>
                    <form action="/deletePost/<%= item.id %>" method="post">
                        <a href="javascript:;" onclick="parentNode.submit();">删除作品</a><br>
                    </form>
                    <a href="/editPost/<%= item.id %>" >修改作品</a><br>
                <% } %>

                名称：<%= item.subject %><br>
                分类：<%= item.categoryInLabel %><br>
                主图：<img src="<%= item.postImage %>"/><br>
                描述：<%= item.summary %><br>
                原料：<br>
                <div class="materialList">
                    <% for(var i = 0; item.materials && i < item.materials.length; i++) {%>
                    <ul>
                        <li class="material">
                            <%= item.materials[i].name%><%= item.materials[i].quantity%>
                        </li>
                    </ul>
                    <% } %>
                </div>
                工具：<br>
                <div class="toolList">
                    <% for(var i = 0; item.tools && i < item.tools.length; i++) {%>
                    <ul>
                        <li class="tool">
                            <%= item.tools[i].name%><%= item.tools[i].quantity%>
                        </li>
                    </ul>
                    <% } %>
                </div>
            <% } %>
                <p><%= message %><p>
        </div>
        <% include footer %>
    </body>
</html>