<!DOCTYPE html>
<html>
    <head>
        <title>发布作品</title>
        <link rel='stylesheet' href='/stylesheets/main.css' />
        <script src="/javascripts/postPage.js"></script>
        <script src="/javascriptLibraries/jquery-2.1.0.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                onReady();
            });
        </script>
    </head>
    <body>
        <% include header %>
        <div class="content">
            <p class="error"><%= message %></p>
            <form method="post" id="post" action="/createPost" enctype="multipart/form-data">
                <input type="text" name="subject" value="<% if(locals.item) { %><%= item.subject %><% } %>" placeholder="作品名称"/>
                <select name="category">
                    <% for(var i = 0; i < categories.length; i++) {%>
                        <option value="<%= categories[i].value.dbValue %>"><%= categories[i].value.label %></option>
                    <% } %>
                </select><br>
                <input type="file" name="postImage" value="<% if(locals.item) { %><%= item.postImage %><% } %>" aria-label="主图"/><br>
                <textarea name="description" placeholder="简述" rows="4" cols="50" ><% if(locals.item) { %><%= item.description %><% } %></textarea><br>
                原料：<br>
                <div class="materialList">
                    <div class="material">
                        <input type="text" name="materialName_0" value="" placeholder="名称"/>
                        <input type="text" name="materialQuantity_0" value="" placeholder="数量"/>
                        <a href="javascript:void(0)" name="materialCancel_0">x</a>
                    </div>
                    <div class="material">
                        <input type="text" name="materialName_1" value="" placeholder="名称"/>
                        <input type="text" name="materialQuantity_1" value="" placeholder="数量"/>
                        <a href="javascript:void(0)" name="materialCancel_1">x</a>
                    </div>
                    <div class="material">
                        <input type="text" name="materialName_2" value="" placeholder="名称"/>
                        <input type="text" name="materialQuantity_2" value="" placeholder="数量"/>
                        <a href="javascript:void(0)" name="materialCancel_2">x</a>
                    </div>
                </div>
                工具：<br>
                <div class="toolList">
                    <div class="tool">
                        <input type="text" name="toolName_0" value="" placeholder="名称"/>
                        <input type="text" name="toolQuantity_0" value="" placeholder="数量"/>
                        <a href="javascript:void(0)" name="toolCancel_0">x</a>
                    </div>
                    <div class="tool">
                        <input type="text" name="toolName_1" value="" placeholder="名称"/>
                        <input type="text" name="toolQuantity_1" value="" placeholder="数量"/>
                        <a href="javascript:void(0)" name="toolCancel_1">x</a>
                    </div>
                    <div class="tool">
                        <input type="text" name="toolName_2" value="" placeholder="名称"/>
                        <input type="text" name="toolQuantity_2" value="" placeholder="数量"/>
                        <a href="javascript:void(0)" name="toolCancel_2">x</a>
                    </div>
                </div>
                <button type="submit" name="update">发布</button><br>
            </form>
        </div>
        <% include footer %>
    </body>
</html>