<!DOCTYPE html>
<html>
    <head>
        <title>所有作品</title>
        <link rel='stylesheet' href='/stylesheets/main.css' />
    </head>
    <body>
        <% include header %>
        <div class="content">
            <% if(locals.posts) {%>
                <% for(var i = 0; i < posts.length; i++) {%>
                    标题：<a href="/viewPost/<%= posts[i].id %>" ><%= posts[i].subject %></a>
                    图片：<img src="<%= posts[i].pic %>" />
                    发布时间：<%=  posts[i].createdDate %><br>
                <% } %>
            <% } %>
            <p><%= message %></p>
        </div>
        <% include footer %>
    </body>
</html>