<!DOCTYPE html>
<html>
    <head>
        <title>浏览作品</title>
        <link rel='stylesheet' href='/stylesheets/main.css' />
    </head>
    <body>
        <% include header %>
        <div class="content">
            <% if(locals.item) {%>
                <% if(currentUser && item.createdBy === currentUser.id) { %>
                    <form action="/deletePost/<%= item.id %>" method="post">
                        <a href="javascript:;" onclick="parentNode.submit();">删除作品</a><br>
                    </form>
                    <a href="/editPost/<%= item.id %>" >修改作品</a><br>
                <% } %>

                名称：<%= item.subject %><br>
                分类：<%= item.categoryInLabel %><br>
                主图：<img src="<%= item.pic %>"/><br>
                描述：<%= item.description %><br>
            <% } %>
                <p><%= message %><p>
        </div>
        <% include footer %>
    </body>
</html>