<!DOCTYPE html>
<html>
    <head>
        <title>浏览作品</title>
        <link rel='stylesheet' href='/stylesheets/main.css' />
    </head>
    <body>
        <% include header %>
        <div class="content">
            <% if(locals.post) {%>
                <form action="/deletePost/<%= locals.post.id %>" method="post">
                    <a href="javascript:;" onclick="parentNode.submit();">删除作品</a><br>
                </form>

                名称：<%= post.subject %><br>
                分类：<%= post.categoryInLabel %><br>
                主图：<img src="<%= post.pic %>"/><br>
                描述：<%= post.description %><br>
            <% } %>
                <p><%= message %><p>
        </div>
        <% include footer %>
    </body>
</html>